.background{
   
    background-image: url("https://media.istockphoto.com/id/1400674489/vector/artistic-background-with-swirl-vector-pattern-cmyk-colors.jpg?s=612x612&w=0&k=20&c=MteQ4GwtFE7hkzOlkVtpPahVntweroyGrr7r7EGG-js=");
    background-position: center;
    background-size: cover;

}
h1
{
    color: red;
    font-size: 40px;
}


#myCanvas
{
    border-width:10px;
    background-color: white;
    border-style:ridge;
}
span
{
    font-size: 20px;
}
